<div class="container">
  <div class="row pt-3">
  <div class="col-6">
    <h4>Employee Portal</h4>
  </div>

  <div class="col-6 text-end">
    <button class="btn btn-outline-success" (click)="openModel()">Add</button>
  </div>
</div>

<div class="row">
  @for (item of employeeList; track $index) {
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            {{item.name}}
          </div>
          <div class="col-6 text-end">
            {{item.mobileNumber}}
          </div>
        </div>
      </div>
      <div class="card-body">
        {{item.email}}
      </div>
      <div class="card-body">
        {{item.address}}
      </div>
      <div class="card-footer">
        <div class="btn btn-sm btn-primary" (click)="onEdit(item)">Edit</div>
        <div class="btn btn-sm btn-danger" (click)="onDelete(item)" >Delete</div>
      </div>
    </div>
  </div>
}
</div>
</div>

<div class="modal" id="myModal" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Create New</h4>
        <button type="button" class="btn-close" (click)="closeModel()"></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <label for="" class="">Name:</label>
            <input type="text" [(ngModel)]="employeeObj.name" class="form-control" placeholder="Name">
          </div>
          </div>
          <div class="row">
          <div class="col-6">
            <label for="Name" class="">Mobile No</label>
            <input type="text" [(ngModel)]="employeeObj.mobileNumber" class="form-control" placeholder="Mobile No">
            </div>
            <div class="col-6">
              <label for="Name" class="">Email</label>
              <input type="text" [(ngModel)]="employeeObj.email" class="form-control" placeholder="Email">
              </div>
            <div class="col-12">
              <label for="Name" class="">Address</label>
              <textarea rows="3" [(ngModel)]="employeeObj.address" class="form-control"></textarea>
            </div>
          </div>
      </div>

      <div class="modal-footer">
        @if(employeeObj.id == 0){
        <button type="button" class="btn btn-primary" (click)="saveEmployee()">Save</button>
        }
        @else {
          <button type="button" class="btn btn-primary" (click)="updateEmployee()">Update</button>
        }
        <button type="button" class="btn btn-danger" (click)="closeModel()">Close</button>
      </div>

    </div>
  </div>
</div>